a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
html,
main,
body,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}
body {
  font-family: Poppins;
  background: #1e252b;
}
.container {
  width: 1224px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 26px;
  margin-bottom: 116px;
  padding-left: 105px;
  padding-right: 105px;
}
.antools {
  display: flex;
  gap: 20px;
  padding: 0;
  align-items: center;
}
.header-img {
}
.header-link {
  color: rgba(255, 255, 255, 0.9);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header-nav {
}
.header-nav-list {
  display: flex;
  gap: 50px;
}
.header-nav-item {
}
.header-nav-link {
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header-nav-link:hover {
  color: #ff6e30;
}
.login-list {
  display: flex;
  gap: 41px;
}
.login-item {
}
.Login-link {
  color: rgba(255, 255, 255, 0.78);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.login-button {
  color: #fdf5ff;
  border-radius: 8px;
  background: #1e252b;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 12px 28px;
  border: none;
}
.login-button:hover {
  border-radius: 8px;
  background: #ff6e30;
}
.hero {
  background-image: url(./img/header-screensaver.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 568px;
}
.user {
  margin: 0 111px;
  height: 658px;
  padding-left: 111px;
}
.hero-user-title {
  color: rgba(255, 255, 255, 0.9);
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 70px */
  width: 600px;
}
.hero-user-span {
  color: #ff6e30;
}
.user-text {
  color: rgba(255, 255, 255, 0.55);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  padding-top: 30px;
  width: 487px;
  padding-bottom: 60px;
}
.user-bunner-form {
}
.user-bunner-input-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  background-color: #283036;
  padding-left: 55px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 11px;
}
.user-bunner-input-wrap::before {
  content: ""; /*\1F50D*/
  position: absolute;
  background-image: url(./img/hero-search.png);
  width: 24px;
  height: 24px;
  display: block;
  top: 20px;
  left: 18px;
  background-color: transparent;
  color: #ffffff61;
}
.user-bunner-input {
  width: 70%;
  color: rgba(255, 255, 255, 0.38);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #283036;
  border: none;
  outline: none;
}
.user-bunner-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  padding: 12px 36px;
  border-radius: 8px;
  background-color: #ff6e30;
}
.hero-icon-list {
  padding-top: 110px;
  display: flex;
  gap: 8px;
}
.hero-icon-item {
}
.hero-icon-img {
  border-radius: 11px;
  background: #1e252b;
}
.popular {
}
.popular-title {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 62.4px */
  padding-bottom: 25px;
}
.popular-sub-text {
  color: rgba(255, 255, 255, 0.55);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  text-align: center;
  padding: 0 392px;
}
.popular-list {
  display: flex;
  gap: 95px 20px;
  flex-wrap: wrap;
  border-radius: 15px;
  background: #1e252b;
  padding-top: 110px;
}
.popular-item {
  flex-basis: calc((100% - 3 * 25px) / 3);
  border-radius: 15px;
  background: #1e252b;
}
.popular-item:hover {
  border-radius: 15px;
  background: rgba(40, 48, 54, 0.6);
  background-image: radial-gradient(
    ellipse at top right,
    rgba(254, 135, 84, 0.307),
    rgba(255, 255, 255, 0) 20%
  );
  backdrop-filter: blur(100px);
  transform: translateY(-20px);
  transition: 1s;
}
.popular-wrap-content {
  display: flex;
}
.popular-img {
  padding-bottom: 30px;
  margin-right: 30px;
  margin-left: 22px;
  margin-top: 38px;
}
.popular-wrap {
}
.popular-wrap-title {
  color: rgba(255, 255, 255, 0.78);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 33px;
}
.popular-subject {
  color: rgba(255, 165, 55, 0.55);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 30px;
}
.popular-text {
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  margin-left: 22px;
}
.popular-wrap-icon {
  display: flex;
  padding-top: 30px;
  gap: 12px;
}
.popular-icon-hard {
  background-image: url(./img/popular-team-like.png);
  width: 28px;
  height: 28px;
  padding: 7px;
  margin-left: 22px;
}
.popular-icon-hard:hover {
  background-image: url(./img/popular-team-like-hover.png);
}
.popular-icon-folder {
  background-image: url(./img/popular-team-outline.png);
  width: 28px;
  height: 28px;
  padding: 7px;
  margin-left: 12px;
}

.popular-pic {
}
.popular-button {
  color: rgba(255, 255, 255, 0.55);
  border-radius: 8px;
  background: #1e252b;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 124px;
  padding: 9px 35px;
  border: none;
  margin-bottom: 33px;
}
.popular-button:hover {
  border-radius: 8px;
  background: #ff6e30;
  color: #fdf5ff;
}
.popular-btn {
  color: #ff6e30;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #1e252b;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 520px;
  margin-top: 100px;
  margin-bottom: 200px;
  padding: 17px 38px;
}
.work {
  border: 2px solid rgba(255, 255, 255, 0.05);
  background: rgba(44, 53, 61, 0.2);
  backdrop-filter: blur(25px);
  padding-left: 82px;
  background-image: url(./img/work-ellipse.png);
  background-position: top left;
  background-repeat: no-repeat;
}
.work-title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  padding-bottom: 56px;
  border-radius: 25px;
  padding-top: 55px;
}
.work-list {
  display: flex;
  gap: 107px;
}
.work-item {
}
.work-img {
  padding-bottom: 57px;
}
.team {
  display: flex;
  margin-bottom: 220px;
}

.team-wrap {
}
.team-title {
  padding-top: 220px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 48px;
  font-weight: 500;
  line-height: 62.4px;
  text-align: left;
}
.team-text {
  color: rgba(255, 255, 255, 0.55);
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  padding-bottom: 60px;
}
.team-button {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  width: 198px;
  height: 58px;
  border-radius: 8px;
  background: #ff6e30;
  border: none;
  margin-top: 60px;
}
.team-list {
  padding-top: 220px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-item {
  border-radius: 15px;
  background: #1e252b;
  width: calc((100% - 2 * 20px) / 2);
}
.team-item:hover {
  border-radius: 15px;
  background: rgba(40, 48, 54, 0.6);
  background-image: radial-gradient(
    ellipse at top right,
    rgba(254, 135, 84, 0.307),
    rgba(255, 255, 255, 0) 20%
  );
  backdrop-filter: blur(100px);
  transform: translateY(-20px);
  transition: 1s;
}
.team-wrap-content {
  display: flex;
}
.team-block {
}
.team-item-img {
  margin-top: 39px;
  margin-left: 26px;
  margin-right: 34px;
}
.team-wrap {
}
.team-item-title {
  color: rgba(255, 255, 255, 0.78);
  font-size: 24px;
  font-weight: 500;
  margin-top: 28px;
}
.team-item-subject {
  color: rgba(255, 165, 55, 0.55);
  margin-top: 3px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.team-item-text {
  width: 245px;
  color: rgba(255, 255, 255, 0.55);
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.team-wrap-icon {
  display: flex;
}
.team-icon-hard {
  background-image: url(./img/popular-team-like.png);
  width: 28px;
  height: 28px;
  padding: 7px;
  margin-left: 22px;
}
.team-icon-hard:hover {
  background-image: url(./img/popular-team-like-hover.png);
}
.team-icon-folder {
  background-image: url(./img/popular-team-outline.png);
  width: 28px;
  height: 28px;
  padding: 7px;
  margin-left: 12px;
  margin-right: 43px;
}
.team-item-button {
  color: rgba(255, 255, 255, 0.55);
  margin-bottom: 28px;
  border-radius: 8px;
  background: #1e252b;
  border: none;
  padding: 9px 35px;
}
.team-item-button:hover {
  border-radius: 8px;
  background: #ff6e30;
  color: #fdf5ff;
}
.feature {
}
.feature-container {
  display: flex;
}
.feature-box {
  margin-left: 50px;
}
.feature-img {
}
.feature-wrap {
  position: relative;
  bottom: 150px;
  left: 200px;
  width: 265px;
  height: 91px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(40, 48, 54, 0.2);
  backdrop-filter: blur(25px);
  padding-top: 10px;
  padding-bottom: 16px;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  align-items: center;
  text-align: start;
}
.feature-title {
  color: rgba(255, 253, 253, 0.78);
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.39px;
}
.feature-subject {
  color: rgba(255, 253, 253, 0.55);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container-arrow {
  position: absolute;
  top: 4000px;
}
.feature-arrow-left {
  margin-left: 1100px;
}
.feature-container-text {
  margin-top: 100px;
  margin-left: 100px;
}
.paws {
  position: absolute;
  font-family: Lora;
  font-size: 250px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: linear-gradient(
    189deg,
    rgba(252, 252, 252, 0) 20.34%,
    rgba(255, 255, 255, 0.5) 155.72%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: rotate(19.166deg);
}
.feature-text {
  color: rgba(255, 255, 255, 0.78);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
  letter-spacing: 0.21px;
  width: 393px;
}
.feature-image {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.Become {
}
.become-title {
  margin-top: 250px;
  padding-bottom: 25px;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 62.4px */
}
.become-text {
  width: 427px;
  margin-left: 375px;
  padding-bottom: 100px;
  color: rgba(255, 255, 255, 0.55);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
}
.become-bunner-form {
  margin-left: 335px;
  margin-bottom: 250px;
}
.become-bunner-input-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  background-color: #283036;
  padding-left: 55px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 11px;
}
.become-bunner-input-wrap::before {
  content: ""; /*\1F50D*/
  position: absolute;
  background-image: url(./img/hero-search.png);
  width: 24px;
  height: 24px;
  display: block;
  top: 20px;
  left: 18px;
  background-color: transparent;
  color: #ffffff61;
}
.become-bunner-input {
  width: 70%;
  color: rgba(255, 255, 255, 0.38);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #283036;
  border: none;
  outline: none;
}
.become-bunner-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  padding: 12px 36px;
  border-radius: 8px;
  background-color: #ff6e30;
}
.line {
  background: rgba(255, 255, 255, 0.15);
}
.footer {
  margin-top: 73px;
}
.footer-link {
  color: rgba(255, 255, 255, 0.9);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.footer-list {
  display: flex;
  gap: 115px;
}
.footer-item {
}
.footer-title {
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 21px;
  padding-top: 27px;
}
.footer-item-link {
  display: flex;
}
.footer-text {
  color: rgba(255, 255, 255, 0.55);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 178.571% */
  margin-bottom: 98px;
  width: 260px;
}
.footer-item-link {
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
