a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
html,
main,
body,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}
body {
  font-family: Poppins;
  background: black;
}
.conteiner {
  width: 1224px;
  padding: 0 15px;
  margin: 0 auto;
}
